AWS_PROFILE: default
AWS_ACCOUNT_ID: XXXX
AWS_REGION: eu-central-1
PREFIX: ai-cq-pipeline
GITHUB_TOKEN: github_pat_XXXX
OPENAI_TOKEN: sk-proj-XXXX
GITHUB_ORG: XXXX
GITHUB_REPO: XXXX
S3_BUCKET_NAME: my-unique-pipeline-output-bucket
